<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Layout</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body>
	<div id="estrutura">
		<!--cabeçalho-->
		<div id="cabecalho">
			<!--titulo do cabeçalho -->
			<div id="titulo-cabecalho">
				<h1>Look</h1>
			</div>
		</div>

		<div id="menu-superior">
				<!--itens do menu superior -->
				<a href="Início.html" class= "atual">Início</a>
				<a href="clientes.html">clientes</a>
				<a href="Roupas.html">Roupas</a>
				<a href="pedidos.html">Pedidos</a>
		
			</div>
			  
      	
  

		<!--Parte Principal -->
		<div id="principal">
			<!--Menu esquerdo -->
			<div id="menu-esquerdo">
			<ul>
				<li><a href="#">Intodução</a></li>
				<li><a href="#">Geração A</a></li>
				<li><a href="#">Geração B</a></li>
				<li><a href="#">Geração C</a></li>
				<li><a href="#">Geração D	</a></li>
			</ul>
		</div>
		<!--Conteudo -->
		<div id="conteudo">
		<h1>Início </h1>

			


</body>
</html>
