<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Layout</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body>
	<div id="estrutura">
		<!--cabeçalho-->
		<div id="cabecalho">
			<!--titulo do cabeçalho -->
			<div id="titulo-cabecalho">
				<h1>look</h1>
			</div>
		</div>

		<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Formulário Estilizado</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body>
	
	<fieldset>
		<form action="" method="" name="formulario">
			<label for="">
				<span class="label">Nome:</span>
				<input type="text" name="txtNome" size="50" value="">
			</label>
			<label for="">
				<span class="label">Sexo:</span>
				<select name="Sexo" id="">
					<option value="0"></option>
					<option value="Masculino">Masculino</option>
					<option value="Feminino">Feminino</option>
				</select>
			</label>
			<br>
			<br>
			<label for="">
				<span class="label">E-mail</span>
				<input type="text" name="E-mail" size="50" value="">
			</label>
			<label for="">
					<span class="label">Senha</span>
					<input type="text" name="Senha" size="50" value="">
				</label>
			
			<br>
			<br>
			<label for="">
				<span class="labelObs">Observação:</span>
				<textarea name="txtobs" id="" cols="30" rows="5"></textarea>
			</label>
			<br>
			<br>
			<p class="centro">
				<input type="button" class="botao" value="Enviar">
			</p>

			<p><a href="Início.html">
					Voltar
				  </a>

		</form>
	</fieldset>
</body>
</html>

</body>
</html>
