<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Roupa</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body>
	<div id="estrutura">
		<!--cabeçalho-->
		<div id="cabecalho">
			<!--titulo do cabeçalho -->
			<div id="titulo-cabecalho">
					<h1>Look</h1>
			</div>
		</div>

		<div id="menu-superior">
				<!--itens do menu superior -->
				<a href="Início.html" class= "atual">Início</a>
				<a href="clientes.html">clientes</a>
				<a href="Roupas.html">Roupas</a>
				<a href="pedidos.html">Pedidos</a>

			</div>




		<!--Parte Principal -->
		<div id="principal">
		<!--Conteudo -->
		<div id="conteudo">
		<h1>A Roupa selecionada foi {{ nome }} da cor {{ cor }}, com o preço de {{ preco }}</h1>



</body>
</html>
